{%extends "registration/base.html"%} {% load bootstrap5 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="card col-md-4 mt-5 mb-3">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center pt-4 pb-3">Sign Up</h3>
          <h5 class="text-center pb-3">Sign up to see photos and videos from your friends.</h5>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group text-center d-grid gap-2">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

            <p class="text-center mt-3">By signing up, you agree to our <strong>Terms</strong> , <strong>Data Policy</strong> and <strong>Cookies Policy</strong>.</p>

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
    <!-- empty div -->
    <div class="col-md-4"></div>
    <div class="card col-md-4 pt-3 pb-3 mb-5 text-center">
      <small class="text-muted">
       Have an account?
        <a class="ml-2" href="/accounts/login">Sign in</a>
      </small>
    </div>
  </div>
</div>

{% endblock %}