<div class="container">
  <div class="col-md-12">
    <div class="footer text-center">
      <ul id="footer">
        <li>About</li>
        <li>Blog</li>
        <li>Jobs</li>
        <li>Help</li>
        <li>API</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Top Accounts</li>
        <li>Hashtags</li>
        <li>Locations</li>
        <li>Language</li>
        <br>

        <li style="font-size:10px;"> <strong>© 2021 IAN KIPLAGAT</strong></li>
      </ul>

    </div>

  </div>
</div>