<nav class="navigation navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    {% if user.is_authenticated %}
    <div class="logo">
      <a class="" href="#"> logo here </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="search d-flex">
        <i class="fa fa-search"></i>
        <input
          class="text-center form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
      <div class="me-2 navigation-icons">
        <a href="{%url 'index'%}" class="navigation-link">
          <i class="fa fa-home"></i>
        </a>
        <a href="" class="navigation-link">
          <i class="far fa-compass"></i>
        </a>
        <a class="navigation-link">
          <i class="far fa-heart"></i>
        </a>
        <a href="" class="navigation-link">
          <i class="far fa-user-circle"></i>
        </a>
        <a href="/logout" id="signout">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
    </div>
    {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>
    {% endif %}
  </div>
</nav>
