<nav class="navigation navbar navbar-expand-lg navbar-light bg-light">
  <div class="container col-md-9">
    {% if user.is_authenticated %}
    <div class="logo">
      <a class="" href="{%url 'index'%}"><img src="/static/photos/ig.png" alt="" /></a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <form class="search d-flex" role="search" action="{% url 'search_results' %}">
        <!-- <i class="fa fa-search"></i> -->
        <input
          class="text-center form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <div class="me-2 navigation-icons">
        <a href="{%url 'index'%}" class="navigation-link">
          <i class="fa fa-home"></i>
        </a>
        <a href="" class="navigation-link">
          <i class="far fa-compass"></i>
        </a>
        <a class="navigation-link">
          <i class="far fa-heart"></i>
        </a>
        <div class="dropdown main">
          <a
            class="navigation-link"
            id="dropdownMenu"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="far fa-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <div class="bd">
              <li class="magna">
                <a class="carta" href="/profile"
                  ><i class="far fa-user-circle"></i><span> Profile</span></a
                >
              </li>
              <li class="magna">
                <a class="carta" href="/accounts/password/change"
                  ><i class="fa fa-cog" aria-hidden="true"></i
                  ><span> Change Password</span></a
                >
              </li>
            </div>
            <li class="magna">
              <a class="logout carta" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% else %}
    <li>
      <a class="btn btn-default" href="/accounts/login">Login</a>
    </li>
    {% endif %}
  </div>
</nav>
