@import url("http://fonts.cdnfonts.com/css/billabong");
body {
  background: #fafafa;
}

.navigation {
  background-color: #ffffff;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.navigation .logo a {
  position: relative;
  color: #000000;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.main {
  padding-left: 10px;
  padding-right: 30px;
}

.magna:hover {
  background-color: rgb(242, 245, 241);
}

.margm {
  margin-left: 15px;
  margin-bottom: 15px;
}

.carta {
  color: black;
  text-decoration: none;
}

.carta:hover {
  color: black;
}

.bd {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.logout {
  padding-left: 5px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.search input {
  background-color: rgb(242, 245, 241);
  padding: 3px 20px;
  padding-left: 25px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 3px;
  font-size: 14px;
}

.search .fa-search {
  position: absolute;
  top: 30.1px;
  left: 43%;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

.navigation-icons {
  display: flex;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  text-align: center;
}

.navigation-icons a {
  text-decoration: none;
}

.navigation-link i {
  margin-left: 30px;
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */
.prof {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  font: bolder;
  font-weight: 800px;
  font-size: 0.8em;
}

.prof:hover {
  color: black;
  text-decoration: none;
}

.profile_user {
  position: relative;
  padding: 16px;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile_user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -ms-flex-item-align: center;
  align-self: center;
}
.profile_user .user {
  margin-left: 10px;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 13px;
  font-weight: 600;
}

.caption {
  color: black;
  font-size: 13px;
  margin: 5px 26px;
}
.caption {
  margin-right: 0.3em;
  font-weight: 500;
}

.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
}

.profile_img {
  width: 150px;
  height: 150px;
}

.profile-stats,
.profile-bio {
  float: left;
}

.username {
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 300;
}

.profile-edit {
  font-size: 1rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 1rem;
  margin-left: 2rem;
}

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1rem;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0.1rem;
}

.bbtm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.btp {
  border-top: 1px solid rgba(0, 0, 0, 0.0975);
}

.name,
.profile-stat-count,
.profile-edit {
  font-weight: 600;
}

.name,
.bio-text {
  font-size: 20px;
}

/* Gallery Section */
.row {
  display: flex;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-image {
  width: 100%;
  cursor: pointer;
  object-fit: contain;
}

.size {
  width: 650px;
}

.gallery-item {
  position: relative;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 4rem);
  background-color: rgba(0, 0, 0, 0.3);
}

.comment-section {
  border-top: 1px solid #efefef;
  padding: 20px 5px 20px 5px;
  margin-top: 4px;
  overflow: hidden;
}

.sidebar {
  overflow: hidden;
  position: fixed;
  right: 130px;
}

#commentss {
  outline: none;
  overflow-x: scroll;
  padding: 0;
  background: none;
  border: none;
  color: #262626;
  width: 100%;
  height: 18px;
  max-height: 80px;
  resize: none;
}

.likes {
  margin-left: 15px;
}

.interactions {
  margin-left: 10px;
  margin-top: 5px;
}

.interaction-item {
  text-decoration: none;
  color: black;
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.explore-img {
  height: 300px;
}

@media only screen and (min-width: 280px) and (max-width: 653px) {
  .navigation-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .timeline {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}


@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .navigation-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .timeline {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .margs {
    margin-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .posting {
    width: 150%;
  }

  .sidebar {
    display: none;
  }

  .empty {
    display: none;
  }

  .timeline {
    display: flex;
    margin-left: 30px;
    margin-right: auto;
    width: 100%;
  }

  .profile-bio {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    left: 0;
    /* float: left; */
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  .navigation-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 731px) {
  .sidebar {
    display: none;
  }

  .empty {
    display: none;
  }

  .timeline {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
  }

  .profile::after {
    display: none;
  }

  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
    float: none;
    width: auto;
  }

  .profile-image img {
    width: 7.7rem;
  }

  .profile-user-settings {
    flex-basis: calc(100% - 10.7rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .username {
    font-size: 2.2rem;
  }

  .profile-edit {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
  }

  .profile-edit {
    margin-left: 0;
  }

  .profile-bio {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }

  .profile-edit,
  .profile-bio,
  .profile-stats {
    flex-basis: 100%;
  }

  .profile-stats {
    order: 1;
    margin-top: 1.5rem;
  }

  .profile-stats ul {
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada;
  }

  .profile-stats li {
    font-size: 1.4rem;
    flex: 1;
    margin: 0;
  }

  .profile-stat-count {
    display: block;
  }
}

/* .modal-content {
  display: flex;
  justify-content: center;
} */

.new_post {
  height: 60%;
  margin-left: 10px;
  padding-right: 10px;
}

#footer li{
  padding: 10px;
  font-size: 10px;
  display: inline;
  cursor: pointer;
}

.installed {
  margin-left: auto;
  margin-right: auto;
}

.posting {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 200px) and (max-width: 812px) {
  .one {
    margin-right: 15px;
  }
}
