{%extends 'base.html'%} 
{% load bootstrap5 %} 
{% load static %} 
{% block content %}
  <div class="display">
  </div>
  <div class="message">
    <p>
      <strong>
        Page development still in progress. <br>
      Please bear with us as we work to make <br>
      this page available to you. Sorry for any inconvenience caused. <br>
       Cheers!
      </strong>
    </p>
    <img class="moji" src="/static//photos/ig.png" alt="">
    <p><strong>www.instareach.com</strong></p>
  </div>
{% endblock %}
