{%extends 'base.html'%} 
{% load bootstrap5 %} 
{% load static %} 
{% block content %}
  <div class="container">
    <main>
      <div class="row pt-5">
        <!-- Empty div -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="gallery-item" tabindex="0">

            <div class="gallery-item-info">
              <ul>
                <li class="gallery-item-likes">
                  <span class="visually-hidden">Likes:</span
                  ><i class="fas fa-heart" aria-hidden="true"></i> {{ single_post.likes }}
                </li>
                <li class="gallery-item-comments">
                  <span class="visually-hidden">Comments:</span
                  ><i class="fas fa-comment" aria-hidden="true"></i> {{ single_post.comment|length }}
                </li>
              </ul>
            </div>
            <!-- <div class="header">
              {{ single_post.image.name}}
            </div> -->
            <img src="{{single_post.image.url}}" class="gallery-image" alt="" />
          </div>
        </div>
        <!-- Empty div -->
        <div class="col-md-3"></div>
    </main>
  </div>
{% endblock %}
