{%extends 'base.html'%} 
{% load bootstrap5 %} 
{% load static %} 
{% block content %}
  <div>
    <main>
      <div class="container">
        <div class="gallery col-md-4">
          <div class="gallery-item" tabindex="0">

            <div class="gallery-item-info">
              <ul>
                <li class="gallery-item-likes">
                  <span class="visually-hidden">Likes:</span
                  ><i class="fas fa-heart" aria-hidden="true"></i> 56
                </li>
                <li class="gallery-item-comments">
                  <span class="visually-hidden">Comments:</span
                  ><i class="fas fa-comment" aria-hidden="true"></i> 2
                </li>
              </ul>
            </div>
            <img src="{{single_post.image.url}}" class="gallery-image" alt="" />
          </div>
        </div>
        <!-- <div class="row">
          {% autoescape on %}
          {{image.post| safe}}
         {% endautoescape %}
        </div> -->
    </main>
  </div>
{% endblock %}
