{%extends 'base.html'%} {% load static %} {% block content %}
<header>
  {% for profile in profile %}
  <div class="container">
    <!-- Displaying user profile   -->
    <div class="profile">
      <div class="profile-image">
        {% if profile.photo %}
        <img class="img-circle profile_img" src="{{ profile.photo.url }}" />
        {% else %}
        <img class="profile_img" src="/static/photos/default.jpg" alt="" />
        {% endif %}
      </div>

      <div class="profile-user-settings">
        <h1 class="username">{{ profile.user.username }}</h1>
        <button class="btn profile-edit btn-sm">
          <a class="carta" href="/create_profile">Edit Profile</a>
        </button>

        <button
          class="btn profile-settings-btn"
          aria-label="profile settings"
          data-bs-toggle="modal"
          data-bs-target="#instaModal"
        >
          <i class="fas fa-cog" aria-hidden="true"></i>
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="instaModal"
          tabindex="-1"
          aria-labelledby="instaModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="bd">
                  <h3 class="text-center pt-3 pb-1">
                    <img src="/static/photos/ig.png" alt="" />
                  </h3>
                  <div class="magna bbtm">
                    <a class="carta pb-3" href="/profile">Profile</a>
                  </div>
                  <div class="magna bbtm">
                    <a class="carta" href="/accounts/password/change"
                      >Change Password</a
                    >
                  </div>
                  <div class="magna">
                    <a class="carta" href="/logout">Logout</a>
                  </div>
                </div>
              </div>
              <div class="magna margm">
                <a class="logout carta" href="">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-stats">
        <ul>
          <li>
            <span class="profile-stat-count">{{images|length}}</span> posts
          </li>
          <li><span class="profile-stat-count">0</span> followers</li>
          <li><span class="profile-stat-count">0</span> following</li>
        </ul>
      </div>

      <div class="profile-bio col-md-4">
        <p>
          <span class="name">{{ profile.user.profile.name }}</span> <br /><span
            class="bio-text"
            >{{ profile.user.profile.bio }}</span
          >
        </p>
      </div>
    </div>
    <!-- End of profile section -->
  </div>
  {% endfor %}
  <!-- End of container -->
</header>

<main>
  <div class="container">
    <div class="row pt-5 timeline mleft btp">
      {% for image in images %}
      <div class="gallery-item col-md-4" tabindex="0">
        <div class="ratio ratio-1x1" style="overflow: hidden">
          <img
            src="{{image.image.url}}"
            class="explore-img gallery-image"
            alt=""
          />

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> {{image.likes.count}}
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> {{ comments|length }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
