{%extends 'base.html'%} {% load static %} {% block content %}
<header>
  <div class="container">
    <!-- Displaying user profile   -->
    <div class="profile">
      <div class="profile-image">
        {% if profile.photo %}
        <img class="img-circle" src="{{ profile.photo }}" />
        {% else %}
        <img
          src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
          alt=""
        />
        {% endif %}
        <label>{{profile.user.username}}</label>
      </div>

      <div class="profile-user-settings">
        <h1 class="username">{{ request.user.username }}</h1>

        <button class="btn profile-edit btn-sm">
          <a class="carta" href="/profile_edit">Edit Profile</a>
        </button>

        <button
          class="btn profile-settings-btn"
          aria-label="profile settings"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fas fa-cog" aria-hidden="true"></i>
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="bd">
                  <h3 class="text-center pt-3 pb-1">
                    <img src="/static/photos/ig.png" alt="" />
                  </h3>
                  <div class="magna bbtm">
                    <a class="carta pb-3" href="/profile">Profile</a>
                  </div>
                  <div class="magna bbtm">
                    <a class="carta" href="/accounts/password/change"
                      >Change Password</a
                    >
                  </div>
                  <div class="magna">
                    <a class="carta" href="/logout">Logout</a>
                  </div>
                </div>
              </div>
              <div class="magna margm">
                <a class="logout carta" href="">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-stats">
        <ul>
          <li>
            <span class="profile-stat-count">{{images|length}}</span> posts
          </li>
          <li><span class="profile-stat-count">188</span> followers</li>
          <li><span class="profile-stat-count">206</span> following</li>
        </ul>
      </div>

      <div class="profile-bio col-md-4">
        <p>
          <span class="name">{{ request.user.profile.name }}</span> <br /><span
            class="bio-text"
            >{{ request.user.profile.bio }}</span
          >
        </p>
      </div>
    </div>
    <!-- End of profile section -->
  </div>
  <!-- End of container -->
</header>

<main>
  <div class="container">
    <div class="gallery">
      {% for image in images %}
      <div class="gallery-item" tabindex="0">
        <img src="{{image.image.url}}" class="gallery-image" alt="" />

        <div class="gallery-item-info">
          <ul>
            <li class="gallery-item-likes">
              <span class="visually-hidden">Likes:</span
              ><i class="fas fa-heart" aria-hidden="true"></i> 56
            </li>
            <li class="gallery-item-comments">
              <span class="visually-hidden">Comments:</span
              ><i class="fas fa-comment" aria-hidden="true"></i> 2
            </li>
          </ul>
        </div>
      </div>
      {% endfor %} {% endblock %}
    </div>
  </div>
</main>
